In [28]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv('Dataset.csv')
data.head()

,hash,nonce,transaction_index,from_address,to_address,value,gas,gas_price,input,receipt_cumulative_gas_used,receipt_gas_used,block_timestamp,block_number,block_hash,from_scam,to_scam,from_category,to_category
0,0x253ec84729f5c11437f5346830e6bdc9857171b16097...,370394,4,0x267be1c1d684f78cb4f6a176c4911b741e4ffdc0,0xd707ac0098599006f0857e8da4c950795645ba01,1.800000e+18,30000,2.205000e+10,0x,129358,21000,2017-10-16 05:26:53 UTC,4370008,0x5e14d30d2155c0cdd65044d7e0f296373f3e92f65ebd...,0,0,NaN,NaN
1,0xfa5f1d7715562adb1e408fdbbbbfc033ae4fadca1e07...,229082,85,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xb8f6e76d34d4877732dfefa6b6a4e2a834a9092b,7.500000e+15,90000,2.060947e+10,0x,5415387,21000,2017-10-16 05:28:49 UTC,4370014,0x900efe010b41b8b6b135db041422fac80b69b96d93c2...,0,0,NaN,NaN
2,0x37928f1d12ee769d0876695aaa815c13d705f8b1e376...,229095,31,0x304cc179719bc5b05418d6f7f6783abe45d83090,0x5ec492652d7b92421680f21169ff6a8dbbc622ab,7.500000e+15,90000,2.060947e+10,0x,1369625,21000,2017-10-16 05:29:19 UTC,4370015,0xfe7d1bc1c6257f92bacb0f8b1266c9894dda99b42e78...,0,0,NaN,NaN
3,0xaad886f331a2fb40495cdf5faa10882852fcd324f064...,229126,78,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xdf01b231b53d8b4cbb1b092a8dc86730cebf4aa9,7.500000e+15,90000,2.060947e+10,0x,2464655,21000,2017-10-16 05:29:43 UTC,4370016,0x1d132e9cd35e9e2cf8350258401b43474772eb1904f1...,0,0,NaN,NaN
4,0x3dbe36fd1a1b01b5e1b343ff78ec1ec189feee5acf46...,229131,83,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xaa4b9693c54029d180134161cc99e98b76cea249,7.500000e+15,90000,2.060947e+10,0x,2569655,21000,2017-10-16 05:29:43 UTC,4370016,0x1d132e9cd35e9e2cf8350258401b43474772eb1904f1...,0,0,NaN,NaN

In [30]:
data.columns

Index(['hash', 'nonce', 'transaction_index', 'from_address', 'to_address',
       'value', 'gas', 'gas_price', 'input', 'receipt_cumulative_gas_used',
       'receipt_gas_used', 'block_timestamp', 'block_number', 'block_hash',
       'from_scam', 'to_scam', 'from_category', 'to_category'],
      dtype='object')

In [3]:
# remove specific categories of fraud as we are only interested in whether it is a fraudulent transaction or not
from_category = data.pop('from_category')
to_category = data.pop('to_category')

In [4]:
print(data.columns)
data.head()

Index(['hash', 'nonce', 'transaction_index', 'from_address', 'to_address',
       'value', 'gas', 'gas_price', 'input', 'receipt_cumulative_gas_used',
       'receipt_gas_used', 'block_timestamp', 'block_number', 'block_hash',
       'from_scam', 'to_scam'],
      dtype='object')

,hash,nonce,transaction_index,from_address,to_address,value,gas,gas_price,input,receipt_cumulative_gas_used,receipt_gas_used,block_timestamp,block_number,block_hash,from_scam,to_scam
0,0x253ec84729f5c11437f5346830e6bdc9857171b16097...,370394,4,0x267be1c1d684f78cb4f6a176c4911b741e4ffdc0,0xd707ac0098599006f0857e8da4c950795645ba01,1.800000e+18,30000,2.205000e+10,0x,129358,21000,2017-10-16 05:26:53 UTC,4370008,0x5e14d30d2155c0cdd65044d7e0f296373f3e92f65ebd...,0,0
1,0xfa5f1d7715562adb1e408fdbbbbfc033ae4fadca1e07...,229082,85,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xb8f6e76d34d4877732dfefa6b6a4e2a834a9092b,7.500000e+15,90000,2.060947e+10,0x,5415387,21000,2017-10-16 05:28:49 UTC,4370014,0x900efe010b41b8b6b135db041422fac80b69b96d93c2...,0,0
2,0x37928f1d12ee769d0876695aaa815c13d705f8b1e376...,229095,31,0x304cc179719bc5b05418d6f7f6783abe45d83090,0x5ec492652d7b92421680f21169ff6a8dbbc622ab,7.500000e+15,90000,2.060947e+10,0x,1369625,21000,2017-10-16 05:29:19 UTC,4370015,0xfe7d1bc1c6257f92bacb0f8b1266c9894dda99b42e78...,0,0
3,0xaad886f331a2fb40495cdf5faa10882852fcd324f064...,229126,78,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xdf01b231b53d8b4cbb1b092a8dc86730cebf4aa9,7.500000e+15,90000,2.060947e+10,0x,2464655,21000,2017-10-16 05:29:43 UTC,4370016,0x1d132e9cd35e9e2cf8350258401b43474772eb1904f1...,0,0
4,0x3dbe36fd1a1b01b5e1b343ff78ec1ec189feee5acf46...,229131,83,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xaa4b9693c54029d180134161cc99e98b76cea249,7.500000e+15,90000,2.060947e+10,0x,2569655,21000,2017-10-16 05:29:43 UTC,4370016,0x1d132e9cd35e9e2cf8350258401b43474772eb1904f1...,0,0

In [6]:
# convert denomination of value column for Wei to Ether
data['value'] = data.value / 1000000000000000000

In [7]:
# convert denomination of value column for Wei to Ether
data['gas_price'] = data.gas_price / 1000000000000000000

In [8]:
# map input feature to binary indicator value. 0 if no additional message was sent with transaction
## 1 if additional message was sent with transaction

input_keys = {'0x':0} # map transactions with no additional message to 0
test = data.input.map(input_keys)
test.unique()

# NOTE: input messages are hashed and therefore cannot be decoded. Thus any NLP on the messages is 
## not possible thereby making an indicator feature the most appropriate representation

array([ 0., nan])

In [9]:
# map NA values (trasnactions with additional message) to 1

test = test.fillna(1)
test.unique()

array([0., 1.])

In [10]:
# ensure no loss of data
print(len(test))
print(len(data.input))

71250
71250

In [11]:
data.input = list(map(int,test))
data.head()

,hash,nonce,transaction_index,from_address,to_address,value,gas,gas_price,input,receipt_cumulative_gas_used,receipt_gas_used,block_timestamp,block_number,block_hash,from_scam,to_scam
0,0x253ec84729f5c11437f5346830e6bdc9857171b16097...,370394,4,0x267be1c1d684f78cb4f6a176c4911b741e4ffdc0,0xd707ac0098599006f0857e8da4c950795645ba01,1.8000,30000,2.205000e-08,0,129358,21000,2017-10-16 05:26:53 UTC,4370008,0x5e14d30d2155c0cdd65044d7e0f296373f3e92f65ebd...,0,0
1,0xfa5f1d7715562adb1e408fdbbbbfc033ae4fadca1e07...,229082,85,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xb8f6e76d34d4877732dfefa6b6a4e2a834a9092b,0.0075,90000,2.060947e-08,0,5415387,21000,2017-10-16 05:28:49 UTC,4370014,0x900efe010b41b8b6b135db041422fac80b69b96d93c2...,0,0
2,0x37928f1d12ee769d0876695aaa815c13d705f8b1e376...,229095,31,0x304cc179719bc5b05418d6f7f6783abe45d83090,0x5ec492652d7b92421680f21169ff6a8dbbc622ab,0.0075,90000,2.060947e-08,0,1369625,21000,2017-10-16 05:29:19 UTC,4370015,0xfe7d1bc1c6257f92bacb0f8b1266c9894dda99b42e78...,0,0
3,0xaad886f331a2fb40495cdf5faa10882852fcd324f064...,229126,78,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xdf01b231b53d8b4cbb1b092a8dc86730cebf4aa9,0.0075,90000,2.060947e-08,0,2464655,21000,2017-10-16 05:29:43 UTC,4370016,0x1d132e9cd35e9e2cf8350258401b43474772eb1904f1...,0,0
4,0x3dbe36fd1a1b01b5e1b343ff78ec1ec189feee5acf46...,229131,83,0x304cc179719bc5b05418d6f7f6783abe45d83090,0xaa4b9693c54029d180134161cc99e98b76cea249,0.0075,90000,2.060947e-08,0,2569655,21000,2017-10-16 05:29:43 UTC,4370016,0x1d132e9cd35e9e2cf8350258401b43474772eb1904f1...,0,0

In [12]:
# remove (and store) columns that will not be used 
# from_cateogry
# to_category
transaction_hash = data.pop('hash') # transaction hash is random, thus cannot be useful for prediction
receipt_cumulative_gas_used = data.pop('receipt_cumulative_gas_used') #?? cumlative gas used in block??
block_hash = data.pop('block_hash') # block hash is random, thus cannot be useful for predictions
block_number = data.pop('block_number') # patterns in blocknumber are not relevant as it is a monotonically increasing variable. Also can be derived from timestamps

# addresses should not be used for fraud prediction in our case. If a fraudulent address is known or discovered
## then there is no need to analyze transaction data for potentially fradulent transactions

from_address = data.pop('from_address') 
to_address = data.pop('to_address')
data.head()

,nonce,transaction_index,value,gas,gas_price,input,receipt_gas_used,block_timestamp,from_scam,to_scam
0,370394,4,1.8000,30000,2.205000e-08,0,21000,2017-10-16 05:26:53 UTC,0,0
1,229082,85,0.0075,90000,2.060947e-08,0,21000,2017-10-16 05:28:49 UTC,0,0
2,229095,31,0.0075,90000,2.060947e-08,0,21000,2017-10-16 05:29:19 UTC,0,0
3,229126,78,0.0075,90000,2.060947e-08,0,21000,2017-10-16 05:29:43 UTC,0,0
4,229131,83,0.0075,90000,2.060947e-08,0,21000,2017-10-16 05:29:43 UTC,0,0

In [13]:
times = data['block_timestamp']

# lists to be used as new features in data
years = []
months =[]
days =[]
hours = []
minutes = []
seconds =[]

for i in times:
    
    # partition string into array to split year, month and day/time
    splits = i.split(sep='-')
    year = splits[0] # get year
    month = splits[1]# get month
    
    # further partition day/time into day and time
    splits = splits[2].split(sep=' ')
    day = splits[0]  # get day
    
    # further partition time into minutes, hours, and seconds
    splits = splits[1].split(sep=':')
    hour = splits[0] # get hour
    minute = splits[1] # get minute
    second = splits[2][0:2] #get second
    
    # append each observation to corresponding feature list
    years.append(year)
    months.append(month)
    days.append(day)
    hours.append(hour)
    minutes.append(minute)
    seconds.append(second)

In [14]:
# insert new columns based on new datetime features
# data['years'] = list(map(int,years)) # years are irrelevant for future transactions, drop
data['months'] = list(map(int,months))
data['days'] = list(map(int,days))
data['hours'] = list(map(int,hours))
data['minutes'] = list(map(int,minutes)) 
# data['seconds'] = list(map(int,seconds)) # likely irrelevant 
block_timestamp = data.pop('block_timestamp')

# final (unscaled) feature set
data.head()

,nonce,transaction_index,value,gas,gas_price,input,receipt_gas_used,from_scam,to_scam,months,days,hours,minutes
0,370394,4,1.8000,30000,2.205000e-08,0,21000,0,0,10,16,5,26
1,229082,85,0.0075,90000,2.060947e-08,0,21000,0,0,10,16,5,28
2,229095,31,0.0075,90000,2.060947e-08,0,21000,0,0,10,16,5,29
3,229126,78,0.0075,90000,2.060947e-08,0,21000,0,0,10,16,5,29
4,229131,83,0.0075,90000,2.060947e-08,0,21000,0,0,10,16,5,29

# Standardization

In [15]:
import sklearn
from sklearn.preprocessing import RobustScaler, StandardScaler

# scale the value,nonce features using Robust Scalar

# Robust scalar used to appropriately scale data with outliers while keeping the outliers significant
## as large values could be significant for prediction

# value
transformer = RobustScaler().fit(np.array(data['value']).reshape(-1,1))
transformed_value = transformer.transform(np.array(data['value']).reshape(-1,1)).reshape(1,71250)[0]
data['value']=transformed_value

# nonce
transformer = RobustScaler().fit(np.array(data['nonce']).reshape(-1,1))
transformed_nonce = transformer.transform(np.array(data['nonce']).reshape(-1,1)).reshape(1,71250)[0]
data['nonce'] = transformed_nonce

# transaction_index
transformer = RobustScaler().fit(np.array(data['transaction_index']).reshape(-1,1))
transformed_transaction_index = transformer.transform(np.array(data['transaction_index']).reshape(-1,1)).reshape(1,71250)[0]
data['transaction_index'] = transformed_transaction_index

# gas
transformer = RobustScaler().fit(np.array(data['gas']).reshape(-1,1))
transformed_gas = transformer.transform(np.array(data['gas']).reshape(-1,1)).reshape(1,71250)[0]
data['gas'] = transformed_gas

# gas_price
transformer = RobustScaler().fit(np.array(data['gas_price']).reshape(-1,1))
transformed_gas_price = transformer.transform(np.array(data['gas_price']).reshape(-1,1)).reshape(1,71250)[0]
data['gas_price'] = transformed_gas_price

# receipt_gas_used
transformer = RobustScaler().fit(np.array(data['receipt_gas_used']).reshape(-1,1))
transformed_receipt_gas_used = transformer.transform(np.array(data['receipt_gas_used']).reshape(-1,1)).reshape(1,71250)[0]
data['receipt_gas_used'] = transformed_receipt_gas_used

# months
transformer = StandardScaler().fit(np.array(data['months']).reshape(-1,1))
transformed_months = transformer.transform(np.array(data['months']).reshape(-1,1)).reshape(1,71250)[0]
data['months'] = transformed_months

# days
transformer = StandardScaler().fit(np.array(data['days']).reshape(-1,1))
transformed_days = transformer.transform(np.array(data['days']).reshape(-1,1)).reshape(1,71250)[0]
data['days'] = transformed_days

# hours
transformer = StandardScaler().fit(np.array(data['hours']).reshape(-1,1))
transformed_hours = transformer.transform(np.array(data['hours']).reshape(-1,1)).reshape(1,71250)[0]
data['hours'] = transformed_hours

# minutes
transformer = StandardScaler().fit(np.array(data['minutes']).reshape(-1,1))
transformed_minutes = transformer.transform(np.array(data['minutes']).reshape(-1,1)).reshape(1,71250)[0]
data['minutes'] = transformed_minutes

In [16]:
print(data.columns)
data.head()

Index(['nonce', 'transaction_index', 'value', 'gas', 'gas_price', 'input',
       'receipt_gas_used', 'from_scam', 'to_scam', 'months', 'days', 'hours',
       'minutes'],
      dtype='object')

,nonce,transaction_index,value,gas,gas_price,input,receipt_gas_used,from_scam,to_scam,months,days,hours,minutes
0,4.927516,-0.590909,1.052132,-0.072464,0.048111,0,0.0,0,0,1.54363,-0.230799,-0.934209,-0.164294
1,3.047148,0.329545,-0.163040,0.797101,0.014304,0,0.0,0,0,1.54363,-0.230799,-0.934209,-0.049980
2,3.047321,-0.284091,-0.163040,0.797101,0.014304,0,0.0,0,0,1.54363,-0.230799,-0.934209,0.007177
3,3.047734,0.250000,-0.163040,0.797101,0.014304,0,0.0,0,0,1.54363,-0.230799,-0.934209,0.007177
4,3.047800,0.306818,-0.163040,0.797101,0.014304,0,0.0,0,0,1.54363,-0.230799,-0.934209,0.007177

In [17]:
data.to_pickle('standardization_data.pkl')

In [22]:
data.describe()

,nonce,transaction_index,value,gas,gas_price,input,receipt_gas_used,from_scam,to_scam,months,days,hours,minutes
count,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,71250.000000,7.125000e+04,71250.000000,71250.000000,7.125000e+04,7.125000e+04,7.125000e+04,7.125000e+04
mean,4.095558,0.189705,6.627839,0.483270,0.340133,0.136702,5.270840e+03,0.036884,0.163495,-1.348238e-13,1.861242e-15,-3.323151e-16,3.420889e-16
std,13.277830,0.734662,193.760167,1.935655,2.934036,0.343535,5.131794e+04,0.188479,0.369819,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00
min,-0.001131,-0.636364,-0.168124,-0.202899,-0.469379,0.000000,0.000000e+00,0.000000,0.000000,-9.331626e-01,-1.835527e+00,-1.679170e+00,-1.650378e+00
25%,-0.001091,-0.397727,-0.151244,-0.202899,-0.281628,0.000000,0.000000e+00,0.000000,0.000000,-6.579634e-01,-7.657080e-01,-7.852168e-01,-9.073362e-01
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-3.827643e-01,1.971289e-01,-4.025611e-02,7.177327e-03
75%,0.998909,0.602273,0.848756,0.797101,0.718372,0.000000,0.000000e+00,0.000000,0.000000,1.268430e+00,9.460021e-01,8.536967e-01,8.645338e-01
max,182.686502,3.670455,40675.040336,134.923986,703.599493,1.000000,6.766079e+06,1.000000,1.000000,2.094028e+00,1.373930e+00,1.747650e+00,1.721890e+00

In [26]:
print(data.from_scam.sum())
print(data.to_scam.sum())

2628
11649